In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
dataset_dir = "/Users/shrikantyalakki/Documents/PES/Sem-IV/Projects/Credit-Risk-Analysis/Data"

In [3]:
application_train = pd.read_csv(f"{dataset_dir}/application_train_for_data_cleaning.csv")
application_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DAYS_PAST_DUE_max,DAYS_PAST_DUE_mean,DAYS_PAST_DUE_sum,DAYS_PAST_DUE_count,NUM_LATE_PAYMENTS,DAYS_BEFORE_DUE_min,DAYS_BEFORE_DUE_max,DAYS_BEFORE_DUE_mean,DAYS_BEFORE_DUE_sum,DAYS_BEFORE_DUE_count
0,100002,1,0,1,0,1,0,202500.0,406597.5,24700.5,...,0.0,0.000000,0.0,19.0,0.0,12.0,31.0,20.421053,388.0,19.0
1,100003,0,0,0,0,0,0,270000.0,1293502.5,35698.5,...,0.0,0.000000,0.0,25.0,0.0,1.0,14.0,7.160000,179.0,25.0
2,100004,0,1,1,1,1,0,67500.0,135000.0,6750.0,...,0.0,0.000000,0.0,3.0,0.0,3.0,11.0,7.666667,23.0,3.0
3,100006,0,0,0,0,1,0,135000.0,312682.5,29686.5,...,0.0,0.000000,0.0,16.0,0.0,1.0,77.0,19.375000,310.0,16.0
4,100007,0,0,1,0,1,0,121500.0,513000.0,21865.5,...,12.0,0.954545,63.0,66.0,16.0,0.0,31.0,4.590909,303.0,66.0

In [ ]:
null_vals = application_train.isnull().sum().sort_values(ascending=False)/application_train.shape[0] * 100 > 40
print("total number of columns with more than 10% null values:", len(null_vals[null_vals]))
application_train[null_vals[null_vals].index.tolist()].isnull().sum().sort_values(ascending=False)/application_train.shape[0] * 100

total number of columns with more than 10% null values: 110

AMT_PAYMENT_CURRENT_mean         80.143800
AMT_PAYMENT_CURRENT_max          80.143800
CNT_DRAWINGS_POS_CURRENT_max     80.117784
CNT_DRAWINGS_ATM_CURRENT_mean    80.117784
AMT_DRAWINGS_POS_CURRENT_max     80.117784
                                   ...
FLOORSMAX_AVG                    49.760822
YEARS_BEGINEXPLUATATION_AVG      48.781019
YEARS_BEGINEXPLUATATION_MEDI     48.781019
YEARS_BEGINEXPLUATATION_MODE     48.781019
TOTALAREA_MODE                   48.268517
Length: 110, dtype: float64

In [5]:
application_train[null_vals[null_vals].index.tolist()] = application_train[null_vals[null_vals].index.tolist()].fillna(0)
# Recheck for missing values
null_vals = application_train.isnull().sum().sort_values(ascending=False)/application_train.shape[0] * 100 > 40
print("total number of columns with more than 10% null values:", len(null_vals[null_vals]))

total number of columns with more than 10% null values: 0

In [6]:
null_vals = application_train.isnull().sum().sort_values(ascending=False)/application_train.shape[0] * 100 > 10
print("total number of columns with more than 10% null values:", len(null_vals[null_vals]))
application_train[null_vals[null_vals].index.tolist()].isnull().sum().sort_values(ascending=False)/application_train.shape[0] * 100

total number of columns with more than 10% null values: 20

EXT_SOURCE_3_TO_AGE_RATIO     19.825307
EXT_SOURCE_3                  19.825307
EMPLOYED_REG_RATIO            18.007161
DAYS_EMPLOYED                 18.007161
OVERDUE_OVERALL               14.314935
BURO_LOAN_COUNT               14.314935
BURO_CLOSED                   14.314935
CREDIT_SUM_OVERALL            14.314935
OVERDUE_DAYS_MAX              14.314935
ANNUITY_OVERALL               14.314935
CREDIT_TYPE_NUNIQUE           14.314935
BB_NMONTHS                    14.314935
BURO_ACTIVE                   14.314935
AMT_REQ_CREDIT_BUREAU_HOUR    13.501631
AMT_REQ_CREDIT_BUREAU_DAY     13.501631
AMT_REQ_CREDIT_BUREAU_WEEK    13.501631
AMT_REQ_CREDIT_BUREAU_MON     13.501631
AMT_REQ_CREDIT_BUREAU_QRT     13.501631
AMT_REQ_CREDIT_BUREAU_YEAR    13.501631
EXT_SOURCES_STD               12.002497
dtype: float64

In [7]:
# application_train["DAYS_EMPLOYED"].replace(365243, np.nan, inplace=True)
application_train["DAYS_EMPLOYED"].nlargest(10)/365

280994    49.073973
273069    48.172603
208899    48.071233
35191     48.030137
234168    48.005479
142446    47.041096
143265    46.956164
296917    46.169863
39095     46.161644
249164    46.126027
Name: DAYS_EMPLOYED, dtype: float64

In [8]:
cols_zero_impute = [
    'EXT_SOURCE_3', 'EXT_SOURCE_3_TO_AGE_RATIO', 'EXT_SOURCES_STD',
    'OVERDUE_OVERALL', 'BURO_LOAN_COUNT', 'BURO_CLOSED',
    'CREDIT_SUM_OVERALL', 'OVERDUE_DAYS_MAX', 'ANNUITY_OVERALL',
    'CREDIT_TYPE_NUNIQUE', 'BB_NMONTHS', 'BURO_ACTIVE',
    'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
    'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
    'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'
]

# Impute zero where missing means absence/no record
application_train[cols_zero_impute] = application_train[cols_zero_impute].fillna(0)


# For DAYS_EMPLOYED and EMPLOYED_REG_RATIO, replace known anomalies with NaN and impute median
# Example for DAYS_EMPLOYED (if still present as raw values, else handle earlier)
if 'DAYS_EMPLOYED' in application_train.columns:
    anomaly_val = 365243
    application_train['DAYS_EMPLOYED'] = application_train['DAYS_EMPLOYED'].replace(anomaly_val, np.nan)
    median_val = application_train['DAYS_EMPLOYED'].median()
    application_train['DAYS_EMPLOYED'] = application_train['DAYS_EMPLOYED'].fillna(median_val)

if 'EMPLOYED_REG_RATIO' in application_train.columns:
    median_val = application_train['EMPLOYED_REG_RATIO'].median()
    application_train['EMPLOYED_REG_RATIO'] = application_train['EMPLOYED_REG_RATIO'].fillna(median_val)

In [9]:
null_vals = application_train.isnull().sum().sort_values(ascending=False)/application_train.shape[0] * 100 > 0
print("total number of columns with null values:", len(null_vals[null_vals]))
application_train[null_vals[null_vals].index.tolist()].isnull().sum().sort_values(ascending=False)/application_train.shape[0] * 100

total number of columns with null values: 48

POS_DPD_MAX                       5.875237
POS_OVERDUE                       5.875237
POS_STATUS_MAX                    5.875237
POS_STATUS_MEAN                   5.875237
POS_COUNT                         5.875237
POS_OVERDUE_MEAN                  5.875237
AMT_PAYMENT_max                   5.162742
DAYS_ENTRY_PAYMENT_min            5.162742
AMT_PAYMENT_mean                  5.162742
AMT_PAYMENT_min                   5.162742
DAYS_ENTRY_PAYMENT_max            5.162742
DAYS_ENTRY_PAYMENT_mean           5.162742
DAYS_PAST_DUE_min                 5.160141
NUM_LATE_PAYMENTS                 5.160141
AMT_PAYMENT_sum                   5.160141
DAYS_BEFORE_DUE_min               5.160141
DAYS_BEFORE_DUE_max               5.160141
DAYS_BEFORE_DUE_mean              5.160141
DAYS_PAST_DUE_sum                 5.160141
DAYS_BEFORE_DUE_sum               5.160141
DAYS_PAST_DUE_max                 5.160141
DAYS_PAST_DUE_mean                5.160141
DAYS_PAST_DUE_count               5.160141
DAYS_BEFORE_DUE_count             5.160141
AMT_INSTALMENT_max                5.160141
NUM_INSTALMENT_VERSION_nunique    5.160141
AMT_INSTALMENT_mean               5.160141
DAYS_INSTALMENT_max               5.160141
DAYS_INSTALMENT_mean              5.160141
DAYS_INSTALMENT_min               5.160141
AMT_INSTALMENT_min                5.160141
AMT_INSTALMENT_sum                5.160141
DEF_30_CNT_SOCIAL_CIRCLE          0.332021
OBS_30_CNT_SOCIAL_CIRCLE          0.332021
DEF_60_CNT_SOCIAL_CIRCLE          0.332021
OBS_60_CNT_SOCIAL_CIRCLE          0.332021
EXT_SOURCE_2_TO_AGE_RATIO         0.214626
EXT_SOURCE_2                      0.214626
AMT_GOODS_PRICE                   0.090403
EXT_SOURCES_MEAN                  0.055933
ANNUITY_INCOME_RATIO              0.003902
ANNUITY_TO_INCOME_RATIO           0.003902
CREDIT_TO_ANNUITY_RATIO           0.003902
AMT_ANNUITY                       0.003902
FAMILY_SIZE                       0.000650
INCOME_PER_FAMILY_MEMBER          0.000650
CNT_FAM_MEMBERS                   0.000650
DAYS_LAST_PHONE_CHANGE            0.000325
dtype: float64

In [10]:
# Social circle features (0.33% missing) - impute with 0
social_cols = ['DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_30_CNT_SOCIAL_CIRCLE', 
               'DEF_60_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE']
application_train[social_cols] = application_train[social_cols].fillna(0)

# External source features (0.21% and 0.06% missing) - impute with 0
application_train['EXT_SOURCE_2'] = application_train['EXT_SOURCE_2'].fillna(0)
application_train['EXT_SOURCE_2_TO_AGE_RATIO'] = application_train['EXT_SOURCE_2_TO_AGE_RATIO'].fillna(0)
application_train['EXT_SOURCES_MEAN'] = application_train['EXT_SOURCES_MEAN'].fillna(0)

# Financial features (very low missing) - impute with median
financial_cols = ['AMT_GOODS_PRICE', 'ANNUITY_INCOME_RATIO', 'ANNUITY_TO_INCOME_RATIO', 
                  'CREDIT_TO_ANNUITY_RATIO', 'AMT_ANNUITY']
for col in financial_cols:
    if col in application_train.columns:
        application_train[col] = application_train[col].fillna(application_train[col].median())

# Demographic features - impute with median
demo_cols = ['FAMILY_SIZE', 'INCOME_PER_FAMILY_MEMBER', 'CNT_FAM_MEMBERS', 'DAYS_LAST_PHONE_CHANGE']
for col in demo_cols:
    if col in application_train.columns:
        application_train[col] = application_train[col].fillna(application_train[col].median())

# POS features (5.88% missing) - impute with 0
pos_cols = ['POS_DPD_MAX', 'POS_OVERDUE', 'POS_STATUS_MAX', 'POS_STATUS_MEAN', 
            'POS_COUNT', 'POS_OVERDUE_MEAN']
for col in pos_cols:
    if col in application_train.columns:
        application_train[col] = application_train[col].fillna(0)

# Installments features (~5.16% missing) - impute with 0
installment_cols = ['AMT_PAYMENT_max', 'DAYS_ENTRY_PAYMENT_min', 'AMT_PAYMENT_mean', 
                    'AMT_PAYMENT_min', 'DAYS_ENTRY_PAYMENT_max', 'DAYS_ENTRY_PAYMENT_mean',
                    'DAYS_PAST_DUE_min', 'NUM_LATE_PAYMENTS', 'AMT_PAYMENT_sum',
                    'DAYS_BEFORE_DUE_min', 'DAYS_BEFORE_DUE_max', 'DAYS_BEFORE_DUE_mean',
                    'DAYS_PAST_DUE_sum', 'DAYS_BEFORE_DUE_sum', 'DAYS_PAST_DUE_max',
                    'DAYS_PAST_DUE_mean', 'DAYS_PAST_DUE_count', 'DAYS_BEFORE_DUE_count',
                    'AMT_INSTALMENT_max', 'NUM_INSTALMENT_VERSION_nunique', 'AMT_INSTALMENT_mean',
                    'DAYS_INSTALMENT_max', 'DAYS_INSTALMENT_mean', 'DAYS_INSTALMENT_min',
                    'AMT_INSTALMENT_min', 'AMT_INSTALMENT_sum']
for col in installment_cols:
    if col in application_train.columns:
        application_train[col] = application_train[col].fillna(0)

In [11]:
null_vals = application_train.isnull().sum().sort_values(ascending=False)/application_train.shape[0] * 100 > 0
print("total number of columns with null values:", len(null_vals[null_vals]))
application_train[null_vals[null_vals].index.tolist()].isnull().sum().sort_values(ascending=False)/application_train.shape[0] * 100

total number of columns with null values: 0

Series([], dtype: float64)

In [ ]:
# Building a base model to check the impact of missing values
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
# Define features and target
features = application_train.drop(columns=['TARGET', 'SK_ID_CURR', 'SK_ID_BUREAU', 'SK_ID_PREV'])
target = application_train['TARGET']

# Split the data into training and validation sets
#X_train, X_val, y_train, y_val = train_test_split(features, target,
#                                                    test_size=0.2, random_state=42, stratify=target)
# Initialize and train the model
model = LogisticRegression(max_iter=500, random_state=42)
model.fit(features, target)
# Make predictions on the validation set
#y_pred = model.predict_proba(X_val)[:, 1]
# Calculate ROC AUC score
#roc_auc = roc_auc_score(y_val, y_pred)